.header-background {
  width: 90%;
  height: 400px;
  position: absolute;
  background-image: url("../hso-photos/carousel/fallen-apples.jpg");
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.header {
  width: 90%;
  height: 400px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  // text-align: center;

  h1 {
    color: white; 
    vertical-align: middle;
  }
}