.navbar {
    max-height: 10px;
}

.navbar .brand { 
    max-height: 10px;
    max-width: 30%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}
.img-responsive {
    max-height: 10px;
}